@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font1: "i Ice Map", sans-serif;
  --text-shadow1: 0 0 0.75rem black;
  --text-shadow_th: 0 0 1rem red;
  --text-shadow_td: 0 0 0.75rem orange;
  --color1: red;
  --color2: yellow;
  --color3: orange;
  --color4: orangered;
  --color5: rgb(55, 55, 55);
  --color6: rgb(100, 50, 25);
}
* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  padding: 0;
}
html {
  font-size: 1vmin;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 10rem;
}

h3 {
  font-size: 5rem;
  color: var();
}

table {
  table-layout: fixed;
  width: 100%;
  color: white;
  text-shadow: var(--text-shadow1);
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  text-align: center;
  padding: 0;
}
