.avatar {
  border-radius: 50%;
  height: 5rem;
  display: inline-block;
}

.avatar_container {
  text-align: left;
  position: relative;
  height: inherit;
  display: flex;
  width: fit-content;
}

.avatar_text {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}
